In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('BlackFriday.csv')

del df['Product_Category_2']
del df['Product_Category_3']

In [24]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1
0,1000004,P00128942,M,46-50,7,B,2,1,1
1,1000009,P00113442,M,26-35,17,C,0,0,3
2,1000010,P00288442,F,36-45,1,B,4+,1,5
3,1000010,P00145342,F,36-45,1,B,4+,1,4
4,1000011,P00053842,F,26-35,1,C,1,0,4

In [25]:
df['User_ID']

0         1000004
1         1000009
2         1000010
3         1000010
4         1000011
           ...
233594    1006036
233595    1006036
233596    1006036
233597    1006037
233598    1006039
Name: User_ID, Length: 233599, dtype: int64

In [26]:
df['User_ID'].nunique()   ## nunique == how many unique customer is having

5891

In [27]:
df['User_ID'].unique()

array([1000004, 1000009, 1000010, ..., 1001656, 1005796, 1001189],
      dtype=int64)

In [28]:
df['Product_ID'].nunique()

3491

In [29]:
df['Gender'].unique()

array(['M', 'F'], dtype=object)

In [30]:
df['Age'].unique()

array(['46-50', '26-35', '36-45', '18-25', '51-55', '55+', '0-17'],
      dtype=object)

In [31]:
df['Occupation'].unique()

array([ 7, 17,  1, 15,  3,  0,  8, 16,  4, 12, 13, 18, 11,  9,  2, 20, 14,
       10,  6, 19,  5], dtype=int64)

In [32]:
df['City_Category'].unique()

array(['B', 'C', 'A'], dtype=object)

In [33]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '0', '4+', '1', '3'], dtype=object)

In [34]:
df['Marital_Status'].unique()

array([1, 0], dtype=int64)

In [35]:
df['Product_Category_1'].unique()

array([ 1,  3,  5,  4,  2, 10, 15, 18,  8, 13,  6, 11, 12,  7, 16, 14, 17,
        9], dtype=int64)

In [36]:
#df['Purchase'].sum()/len(df['Purchase'])

In [40]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1'],
      dtype='object')

In [41]:
for column in df.columns:
    print(df[column].nunique)

<bound method IndexOpsMixin.nunique of 0         1000004
1         1000009
2         1000010
3         1000010
4         1000011
           ...
233594    1006036
233595    1006036
233596    1006036
233597    1006037
233598    1006039
Name: User_ID, Length: 233599, dtype: int64>
<bound method IndexOpsMixin.nunique of 0         P00128942
1         P00113442
2         P00288442
3         P00145342
4         P00053842
            ...
233594    P00118942
233595    P00254642
233596    P00031842
233597    P00124742
233598    P00316642
Name: Product_ID, Length: 233599, dtype: object>
<bound method IndexOpsMixin.nunique of 0         M
1         M
2         F
3         F
4         F
         ..
233594    F
233595    F
233596    F
233597    F
233598    F
Name: Gender, Length: 233599, dtype: object>
<bound method IndexOpsMixin.nunique of 0         46-50
1         26-35
2         36-45
3         36-45
4         26-35
          ...
233594    26-35
233595    26-35
233596    26-35
233597    46-50
233598    46-50
Name: Age, Length: 233599, dtype: object>
<bound method IndexOpsMixin.nunique of 0          7
1         17
2          1
3          1
4          1
          ..
233594    15
233595    15
233596    15
233597     1
233598     0
Name: Occupation, Length: 233599, dtype: int64>
<bound method IndexOpsMixin.nunique of 0         B
1         C
2         B
3         B
4         C
         ..
233594    B
233595    B
233596    B
233597    C
233598    B
Name: City_Category, Length: 233599, dtype: object>
<bound method IndexOpsMixin.nunique of 0          2
1          0
2         4+
3         4+
4          1
          ..
233594    4+
233595    4+
233596    4+
233597    4+
233598    4+
Name: Stay_In_Current_City_Years, Length: 233599, dtype: object>
<bound method IndexOpsMixin.nunique of 0         1
1         0
2         1
3         1
4         0
         ..
233594    1
233595    1
233596    1
233597    0
233598    1
Name: Marital_Status, Length: 233599, dtype: int64>
<bound method IndexOpsMixin.nunique of 0          1
1          3
2          5
3          4
4          4
          ..
233594     8
233595     5
233596     1
233597    10
233598     4
Name: Product_Category_1, Length: 233599, dtype: int64>

In [43]:
for column in df.columns:
    print(column, ":", df[column].nunique())

User_ID : 5891
Product_ID : 3491
Gender : 2
Age : 7
Occupation : 21
City_Category : 3
Stay_In_Current_City_Years : 5
Marital_Status : 2
Product_Category_1 : 18